{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for product in products %}
            <li>
                {{ product }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}