{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for product in products %}
            <li>
                {{ product }}
                <ul>
                    {% for part in product.parts %}
                        <li>{{ part }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}